<div class="page">
  <h1>Home</h1>

  <p>
    <button mat-button (click)="generateDid()">Create a DID</button>
  </p>

  <p *ngIf="app.didKey">{{ app.didKey.did }}</p>

  <p *ngIf="app.didKey">
    <button mat-button (click)="createSigner()">Create Signer</button>
  </p>

  <p>
    <button mat-button (click)="callExtension()">Query DWN using extension</button>
  </p>

  <mat-card class="example-card" *ngFor="let item of items">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ item.title }}</mat-card-title>
      <mat-card-subtitle>{{ item.abstract }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ item.content }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="saveToWebNode(item)" mat-button>SAVE</button>
    </mat-card-actions>
  </mat-card>
</div>
